body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    
    background-image: url(image.png);
    background-size: cover; /* 让背景图片铺满整个页面 */
            background-repeat: no-repeat; /* 防止背景图片重复显示 */
          
            background-color: rgba(255, 255, 255, 0.089);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #008cff11;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ff0000
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
p{
    text-indent: 2em;
    color: rgba(223, 95, 11, 1);
    font-weight: bolder;
    font-size: 30px;
}
div{
   
}
