h1{
    font-family: 幼圆,sans-serif;
    font-size: 24px;
    color:blue;
    text-align: center;
}
p{
    font-family: 楷体, sans-serif;
    font-size: 18px;
}
img{
    width:150px;
    float: left;
    margin-right: 20px;
}
article{
    width: 550px;
    margin: 0 auto;
}